body {
    background-color: #1e1e2e;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: monospace;
    font-size: 4.0rem;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    color: #cdd6f4;
    margin-bottom: .25em;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #11111b;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #11111b;
    border: solid 0px #11111b;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 4rem;
    color: #cdd6f4;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }

    #clock {
        margin-top: 1em;
    }

    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }

    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: #11111b;
    border-radius: 10px;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: .85rem;
    text-align: center;
    width: 15%;
    height: 10em;
    margin: 0em .5em;
}

.bookmark-inner-container {
    overflow-y: scroll;
    height: 80%;
    vertical-align: top;
}

.bookmark-title {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    color: #cdd6f4;
    margin: 0em 0em .35em 0em;
}

.bookmark {
    text-decoration: none;
    text-align: center;
    color: #7f849c;
    display: block;
    margin: .4em 0em;
}

.bookmark:hover {
    color: #cdd6f4;
}
